
body{
    margin:0;
    padding: 0;
    background-color: rgba(177, 29, 61, 0.767);
}

.container{
    width: 1000px;
    margin: auto;
    
}

header{
    display: flex;
    justify-content: center;
}
header img{
    width: 150px;
    height: auto;
}

nav{
    background-color: rgba(226, 123, 140, 0.664);
    
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style: none;
    padding: 15px 30px;
    
}
.banner{
    background-image: url(../imagens/helloKittyHero.png);
    height: 500px;
    width: 1000px;
}